
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Minha Página</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

</head>
<body>

<!-- Inclua o fragmento da navbar -->
<div th:replace="home :: navbar"></div>

<!-- Conteúdo adicional da sua página -->
<div class="container mt-5">
    <h1>Histórico de Pedidos</h1>
    <p> </p>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
